
<!-- 
/**************************************
	 	Website : www.amitupadhyay.in
		Author : Aamit Upadhyay
	 	Email : amiit8@gmail.com
***************************************/
 -->

<html>
	<head>
		<title>Amit Upadhyay - UI Developer Portfolio</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Meta tags for google search SEO -->
		<meta name="description" content="Amit Upadhyay - UI Developer | India | Checkout the Personal portfolio of Amit Upadhyay. Amit is a frontend developer with more than 4 years of professional experience with multi national companies. He works primarily in HTML5, CSS, Javascript, backbone and marionette.">
		<meta name="keywords" content="Amit Upadhyay, Portfolio, Template, Theme, web, html5, css3, Bootstrap, UI developer, backbone ,marionette, amiit8, front-end, software developer, user interface, india, mumbai, pune, web developer, handlebars">
		<meta name="author" content="Amit Upadhyay">
		<meta charset="UTF-8">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="./css/bootstrap.min.css">

		<!-- Google Open Fonts -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans|Raleway">

		<!-- Application CSS -->
		<link rel="stylesheet" href="./css/style.css">
	</head>
	<body>
		<!-- Loader to be shown till everything gets downloaded -->
		<div id="loader">
			<div class="loader-wrapper">
				<div class="loader-container">
					<div class="loader-main"></div>
				</div>
			</div>
		</div>		
		<div id="resume" >

			<!-- Heading and Menu -->
			<!-- <div id="header"></div> -->

			<!-- Banner Section -->
			<section class="banner" id="banner"></section>

			<!-- To align banner and menu -->
			<div class="clear-float"></div>

			<!-- Menu Section -->
			<section class="menu" id="menu"></section>

			<!-- Summary section -->
			<section class="section" id="summary"></section>

			<!-- Skilld section -->
			<section class="section" id="skills"></section>

			<!-- Toolset section -->
			<section class="section" id="toolset"></section>

			<!-- Technologies Section -->
			<!-- <section class="section" id="tech"></section> -->

			<!-- Experience Section -->
			<!-- <section class="section" id="experience"></section> -->

			<!-- Education Section -->
			<section class="section" id="education"></section>
			
			<!-- Future Section -->
			<!-- <div class="section" id="future"></div> -->

			<!-- Achievements Section -->
			<!-- <section class="section" id="achievements"></section> -->

			<!-- Projects Section -->
			<section class="section" id="projects"></section>

			<!-- Contact Section -->
			<section class="section" id="contact"></section>

			<!-- Footer Section -->
			<section class="section" id="footer">
				<div class="container text-center">
					<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
					<ul>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="#"><i class="fa fa-flickr"></i></a></li>
					</ul>
					<p>2016 <a target="_blank" href="http://www.amitupadhyay.in/" title="Amit Upadhyay | UI Developer">amitupadhyay.in</a>. All Rights Reserved.
					</p>
				</div>
			</section>
		</div>

		<!-- Slideshow Section -->
		<section id="slideshow"></section>


		<!-- Templates for the sections -->

			<!-- Summary Template -->
			<script id="summaryTemplate" type="text/template">
				<div class="container">
					<div class="heading text-center">
						<h2><%= title %></h2>
						<h3><%= data.text %></h3>
					</div>
					<div class="row text-center">
						<% _.each(data.slides, function(item){ %>
							<div class="slides col-sm-4">
								<div>
									<img src="<%= item.image %>" />
									<a href="<%= item.link %>"></a>
									<h4><%= item.title %></h4>
									<p><%= item.description %></p>
								</div>
							</div>
						<% }) %>
					</div>
				</div>
			</script>

			<!-- Banner Template -->
			<script id="infoTemplate" type="text/template">
				<div class="background">
					<div id="banner-animator"></div>
					<div id="banner-container" class="container text-center">
						<div class="hidden-xs blank-div"></div>
						<a class="profile-image">
							<img src="<%= data.profileImage %>" />
						</a>
						<div class="profile-data">
							<div id="name-scroller" class="name header"><%= data.name %></div>
						</div>
					</div>
				</div>
			</script>

			<!-- Menu Template -->
			<script id="menuTemplate" type="text/template">
		  	<div class="navbar-wrapper sticky-menu">
		  		<div class="">
		  			<div class="navwrapper">
		  				<div class="navbar navbar-inverse">
		  					<div class="container">
		  						<div class="navbar-header">
  									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
  										<span class="sr-only">Toggle navigation</span>
  										<span class="icon-bar"></span>
  										<span class="icon-bar"></span>
  										<span class="icon-bar"></span>
  									</button>
  									<div class="navbar-brand">
  										<a href="#banner-container">
  									  	<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
  									  </a>
  									</div>
		  						</div>
		  						<div class="navArea">
		  							<div id="navbar" class="navbar-collapse collapse">
		  								<ul class="nav navbar-nav">
		  									<% _.each(this.model.attributes, function(item,key){ %>
			  									<% if (item.menu === true) {%>
				  									<li class="menuItem">
				  										<a href="#<%= key %>"><%= item.title %></a>
				  									</li>
			  									<% } %>
		  									<% }) %>
		  								</ul>
		  							</div>
		  						</div>
		  					</div>
		  				</div>
		  			</div>
		  		</div>
		  	</div>
			</script>

			<!-- Skills/Tools/Technologies Template -->
			<script id="skillsTemplate" type="text/template">
				<div class="container">
					<div class="heading text-center">
						<h2><%= title %></h2>
						<h3><%= description %></h3>
					</div>
					<hr />
					<div class="row">
						<div class="col-sm-6">
							<% _.each(data, function(item){ %>
								<div class="skill">
									<div class="skill-wrapper">
										<!-- <img class="image" src="<%= item.image %>"></img> -->
										<h4 class="skill-name"><%= item.name %></h4>
										<h5 class="experience"><%= item.description %> </h5>	
				
										<% if(item.proficiency){ %>
										<div class="progress">
										  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="<%= item.proficiency %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= item.proficiency %>%"></div>
										</div>
										<% } %>
									</div>	

								</div>
							<% }); %>
						</div>
						<div class="col-sm-6 skills-image">
							<img src="./images/<%= image %>">
						</div>
					</div>
					<div class="clear-float"></div>
				</div>
			</script>
			
			<!-- Tools Template -->
			<script id="toolsTemplate" type="text/template">
				<div class="container">
					<div class="heading text-center">
						<h2><%= title %></h2>
						<h3><%= description %></h3>
					</div>
					<hr />
					<div class="row">
						<% _.each(data, function(item){ %>
							<div class="col-lg-2 col-xs-6 col-sm-3 text-center">
								<a href="<%= item.website %>">
									<div class="image toolset-image">
										<img src="./images/<%= item.image %>">
									</div>
									<h4><%= item.name %></h4>
								</a>
									<p><%= item.text %></p>
								
							</div>
						<% }) %>
					</div>
				</div>
			</script>
			<!-- Future Template -->
			<script id="futureTemplate" type="text/template">
				<div class="container">
					<div class="title-wrapper">
						<span class="glyphicon <%= typeof(icon) !== 'undefined' ? icon : 'glyphicon-pencil' %>" aria-hidden="false"></span>
						<span class="title"><%= title %></span>
					</div>
					<hr />
					<ul class="items">
					<% _.each(data, function(item){ %>
						<li class="item"><%= item %></li>
					<% }); %>
					</ul>
				</div>
			</script>

			<!-- Achievements Template -->
			<script id="achievementsTemplate" type="text/template">
				<div class="container">
					<div class="title-wrapper">
						<span class="glyphicon <%= typeof(icon) !== 'undefined' ? icon : 'glyphicon-pencil' %>" aria-hidden="false"></span>
						<span class="title"><%= title %></span>
					</div>
					<hr />
					<ul class="items">
					<% _.each(data, function(item){ %>
						<li class="item"><%= item %></li>
					<% }); %>
					</ul>
				</div>
			</script>

			<!-- Education Template -->
			<script id="educationTemplate" type="text/template">
				<div class="container">
					<div class="heading text-center">
						<h2><%= title %></h2>
						<h3><%= description %></h3>
					</div>
					<hr />
					<ul class="items">
					<% _.each(data, function(item){ %>
						<li class="item col-md-4 text-center">
							<h4 class="col1 year"><%= item.degree %></h4>
							<h5 class="col2 description"><%= item.year %></h5>
							<img src="./images/<%= item.image %>">
							<p class="col3 percentage"><%= item.description %></p>
						</li>
					<% }); %>
					</ul>
				</div>
			</script>

			<!-- Experience Template -->
			<script id="experienceTemplate" type="text/template">
				<div class="container">
					<div class="heading text-center">
						<h2><%= title %></h2>
						<h3><%= description %></h3>
					</div>
					<hr />
					<ul class="items">
					<% _.each(data, function(item){ %>
						<li class="item">
							<div class="col1 tenure"><%= getTenure(item.startDate, item.endDate)%></div>
							<div class="col2 designation"><%= item.designation %></div>
							<div class="col3 company-name"><%= item.companyName %></div>
						</li>
					<% }); %>
					</ul>
				</div>
			</script>

			<!-- Projects Template -->
			<script id="projectsTemplate" type="text/template">
				<div class="container">
					<div class="heading text-center">
						<h2><%= title %></h2>
						<h3><%= description %></h3>
					</div>

					<ul class="grid">
						<% _.each(data, function(item,key){ %>
							<li class="col-md-3 col-sm-6 col-xs-12">
								<div class="card" data-index="<%= key %>">
									<div class="image">
										<img src="./images/<%= item.image %>">
									</div>
									<div class="caption">
										<h4><%= item.projectName%></h4>
										<h6><%= item.description %></h6>
									</div>
								</div>
							</li>
						<% }); %>
					</ul>
				</div>
			</script>

			<!-- Contact Template -->
			<script id="contactTemplate" type="text/template">
				<div class="container">
					<div class="heading text-center">
						<h2><%= title %></h2>
						<h3><%= description %></h3>
					</div>
				</div>
				<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div id="map"></div>
					</div>
					<div class="col-md-6">
						<h4><%= subTitle %></h4>
						<h5><%= text %></h5>
						<ul>
							<% _.each(data, function(item,key){ %>
								<li>
									<h4><%= item %></h4>
								</li>
							<% }) %>
						</ul>
					</div>
				</div>
				</div>
				<div class="container">
					<form method="post" action="contact.php" id="contactform">
					  <input name="name" type="text" class="contact col-sm-6" placeholder="Name *">
					  <input name="email" type="email" class="contact noMarr col-sm-6" placeholder="E-mail address *">
					  <textarea name="comment" class="contact col-xs-12" placeholder="Message *"></textarea>
					  <input type="submit" id="submit" class="contact submit" value="Send message">
					</form>
				</div>
			</script>

			<!-- Slideshow Template -->
			<script id="slideshowTemplate" type="text/template">
				<div class="slideshow-container">
					<div class="button close">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</div>
					<div class="wrapper">
						<div class="col-sm-6 col-xs-12 image-container">
							<img src="./images/<%= image %>">
						</div>
						<div class="col-sm-6 col-xs-12">
							<h4><%= projectName %></h4>
							<% _.each(responsibilities, function(item){ %>
								<p><%= item %></p>
							<% }) %>
						</div>
						<div class="clear-float"></div>
					</div>
				</div>	
			</script>

			<!-- Libraries Scripts  -->
			<script type="text/javascript" src="./lib/underscore.js"></script>
			<script type="text/javascript" src="./lib/jquery.js"></script>
			<script type="text/javascript" src="./lib/backbone.js"></script>
			<script type="text/javascript" src="./lib/bootstrap.min.js"></script>
			<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUfSn-LdZo_zsbBSDR_FO-aZQnjHd2VWE&callback=initMap"></script>

			<!-- Finally load the project scripts after all other scripts are downloaded -->

			<!-- Setup Google Maps -->
			<script type="text/javascript" src="./scripts/googlemaps.js"></script>
			<!-- Complete data available as json object -->
			<script type="text/javascript" src="./scripts/resumeData.js"></script>

			<!-- Create backbone views and models -->
			<script type="text/javascript" src="./scripts/script.js"></script>

			<!-- Effects on document scroll -->
			<script type="text/javascript" src="./scripts/scrollmenu.js"></script>

			<!-- Messages for the browser's console -->
			<script type="text/javascript" src="./scripts/console.js"></script>

			<!-- Setup heights at initializing time for the background image -->
			<script type="text/javascript" src="./scripts/setupHeights.js"></script>

			<!-- Setup Smoothscroll on click of menu items and home button -->
			<script type="text/javascript" src="./scripts/smoothscroll.js"></script>

			<!-- Add slideshow functionality to projects -->
			<script type="text/javascript" src="./scripts/slideshowView.js"></script>

			<!-- Animation in the home page -->
			<script type="text/javascript" src="./scripts/bannerAnimation.js"></script>
		</body>
</html>