<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Amit Upadhyay - UI Developer Portfolio</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Meta tags for google search SEO -->
		<meta name="description" content="Amit Upadhyay - UI Developer | India | Checkout the Personal portfolio of Amit Upadhyay. Amit is a frontend developer with more than 4 years of professional experience with multi national companies. He works primarily in HTML5, CSS, Javascript, backbone and marionette.">
		<meta name="keywords" content="Amit Upadhyay, Portfolio, Template, Theme, web, html5, css3, Bootstrap, UI developer, backbone ,marionette, amiit8, front-end, software developer, user interface, india, mumbai, pune, web developer, handlebars">
		<meta name="author" content="Amit Upadhyay">
		

		<link rel="stylesheet" href="./index_files/bootstrap.min.css">
		<link rel="stylesheet" href="./index_files/css">
		<link rel="stylesheet" href="./index_files/style.css">
	</head>
	<body>
		
		<div id="resume">

			<!-- Heading and Menu -->
			<!-- <div id="header"></div> -->

			<!-- Banner Section -->
			<section class="banner" id="banner">
				<div class="background">
					<div id="banner-container" class="container text-center" style="height: 667px;">
						<div class="hidden-xs blank-div"></div>
						<a class="profile-image">
							<img src="./index_files/profileImage.jpg">
						</a>
						<div class="profile-data">
							<div class="name header">Amit Upadhyay</div>
						</div>
					</div>
				</div>
			</section>

			<!-- To align banner and menu -->
			<div class="clear-float"></div>

			<!-- Menu Section -->
			<section class="menu" id="menu">
		  	<div class="navbar-wrapper sticky-menu">
		  		<div class="">
		  			<div class="navwrapper">
		  				<div class="navbar navbar-inverse">
		  					<div class="container">
		  						<div class="navbar-header">
  									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
  										<span class="sr-only">Toggle navigation</span>
  										<span class="icon-bar"></span>
  										<span class="icon-bar"></span>
  										<span class="icon-bar"></span>
  									</button>
  									<div class="navbar-brand">
  										<a href="http://localhost:8080/onlineresume3/generator.html#banner-container">
  									  	<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
  									  </a>
  									</div>
		  						</div>
		  						<div class="navArea">
		  							<div id="navbar" class="navbar-collapse collapse">
		  								<ul class="nav navbar-nav">
		  									
			  									
		  									
			  									
				  									<li class="menuItem">
				  										<a href="http://localhost:8080/onlineresume3/generator.html#summary">About me</a>
				  									</li>
			  									
		  									
			  									
				  									<li class="menuItem">
				  										<a href="http://localhost:8080/onlineresume3/generator.html#skills">Skills</a>
				  									</li>
			  									
		  									
			  									
		  									
			  									
		  									
			  									
		  									
			  									
		  									
			  									
				  									<li class="menuItem">
				  										<a href="http://localhost:8080/onlineresume3/generator.html#education">Education</a>
				  									</li>
			  									
		  									
			  									
		  									
			  									
				  									<li class="menuItem">
				  										<a href="http://localhost:8080/onlineresume3/generator.html#projects">Portfolio</a>
				  									</li>
			  									
		  									
			  									
				  									<li class="menuItem">
				  										<a href="http://localhost:8080/onlineresume3/generator.html#contact">Contact</a>
				  									</li>
			  									
		  									
		  								</ul>
		  							</div>
		  						</div>
		  					</div>
		  				</div>
		  			</div>
		  		</div>
		  	</div>
			</section>

			<!-- Summary section -->
			<section class="section" id="summary">
				<div class="container">
					<div class="heading text-center">
						<h2>About me</h2>
						<h3>Hi there, I am primarily a UI Developer with some experience in backend. Most of my time goes into converting the designs(Illustrations and Images) into reality(Working Html and Javascript code). I believe in code quality, not quantity.</h3>
					</div>
					<div class="row text-center">
						
							<div class="slides col-sm-4">
								<div>
									<img src="./index_files/html5.png">
									<a href="http://localhost:8080/onlineresume3/generator.html#"></a>
									<h4>HTML 5</h4>
									<p>HTML is the thing</p>
								</div>
							</div>
						
							<div class="slides col-sm-4">
								<div>
									<img src="./index_files/javascript.png">
									<a href="http://localhost:8080/onlineresume3/generator.html#"></a>
									<h4>Javascript</h4>
									<p>Javascript</p>
								</div>
							</div>
						
							<div class="slides col-sm-4">
								<div>
									<img src="./index_files/marionette.png">
									<a href="http://localhost:8080/onlineresume3/generator.html#"></a>
									<h4>Frameworks</h4>
									<p>JS Frameworks</p>
								</div>
							</div>
						
					</div>
				</div>
			</section>

			<!-- Skilld section -->
			<section class="section" id="skills">
				<div class="container">
					<div class="heading text-center">
						<h2>Skills</h2>
						<h3>Learning never ends. There will always be something that you need to learn. I find myself working with these..</h3>
					</div>
					<hr>
					<div class="row">
						<div class="col-sm-6">
							
								<div class="skill">
									<div class="skill-wrapper">
										<!-- <img class="image" src="./images/javascript.png"></img> -->
										<h4 class="skill-name">Javascript</h4>
										<h5 class="experience">24 months </h5>	
				
										
										<div class="progress">
										  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%"></div>
										</div>
										
									</div>	

								</div>
							
								<div class="skill">
									<div class="skill-wrapper">
										<!-- <img class="image" src="./images/html.png"></img> -->
										<h4 class="skill-name">Html</h4>
										<h5 class="experience">36 months </h5>	
				
										
										<div class="progress">
										  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%"></div>
										</div>
										
									</div>	

								</div>
							
								<div class="skill">
									<div class="skill-wrapper">
										<!-- <img class="image" src="./images/css.png"></img> -->
										<h4 class="skill-name">Css</h4>
										<h5 class="experience">24 months </h5>	
				
										
										<div class="progress">
										  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%"></div>
										</div>
										
									</div>	

								</div>
							
								<div class="skill">
									<div class="skill-wrapper">
										<!-- <img class="image" src="./images/sql.png"></img> -->
										<h4 class="skill-name">SQL</h4>
										<h5 class="experience">24 months </h5>	
				
										
										<div class="progress">
										  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%"></div>
										</div>
										
									</div>	

								</div>
							
						</div>
						<div class="col-sm-6 skills-image">
							<img src="./index_files/skills.jpg">
						</div>
					</div>
					<div class="clear-float"></div>
				</div>
			</section>

			<!-- Toolset section -->
			<section class="section" id="toolset">
				<div class="container">
					<div class="heading text-center">
						<h2>Tools</h2>
						<h3>In this ever-changing technological world you always need some powerful weapons by your side; My ammunition set includes</h3>
					</div>
					<hr>
					<div class="row">
						
							<div class="col-lg-2 col-xs-6 col-sm-3 text-center">
								<a href="https://www.sublimetext.com/">
									<div class="image toolset-image">
										<img src="./index_files/sublime.png">
									</div>
									<h4>Sublime</h4>
								</a>
									<p>Awsome and simple editor. The closest you can get to an IDE at such a low size</p>
								
							</div>
						
							<div class="col-lg-2 col-xs-6 col-sm-3 text-center">
								<a href="https://git-scm.com/">
									<div class="image toolset-image">
										<img src="./index_files/git.png">
									</div>
									<h4>Git</h4>
								</a>
									<p>Ofcourse, there is SVN, Perforce etc. But git takes repository management to another level</p>
								
							</div>
						
							<div class="col-lg-2 col-xs-6 col-sm-3 text-center">
								<a href="https://eclipse.org/">
									<div class="image toolset-image">
										<img src="./index_files/eclipse.png">
									</div>
									<h4>Eclipse</h4>
								</a>
									<p>The most popular and free IDE that comes with long term support</p>
								
							</div>
						
							<div class="col-lg-2 col-xs-6 col-sm-3 text-center">
								<a href="https://www.atlassian.com/software/jira">
									<div class="image toolset-image">
										<img src="./index_files/jira.png">
									</div>
									<h4>Jira</h4>
								</a>
									<p>A very intuitive project management tool. Integrates with git easily</p>
								
							</div>
						
							<div class="col-lg-2 col-xs-6 col-sm-3 text-center">
								<a href="https://nodejs.org/">
									<div class="image toolset-image">
										<img src="./index_files/node.png">
									</div>
									<h4>Node</h4>
								</a>
									<p>Node has made javascript even more powerful. With npm its a breeze to use libraries</p>
								
							</div>
						
							<div class="col-lg-2 col-xs-6 col-sm-3 text-center">
								<a href="https://developers.google.com/web/tools/chrome-devtools/?hl=en">
									<div class="image toolset-image">
										<img src="./index_files/chrome.png">
									</div>
									<h4>Developer Tools</h4>
								</a>
									<p>Firefox or chrome : Its always a personal choice. Being a UI developer you need to pick yours</p>
								
							</div>
						
					</div>
				</div>
			</section>

			<!-- Technologies Section -->
			<!-- <section class="section" id="tech"></section> -->

			<!-- Experience Section -->
			<!-- <section class="section" id="experience"></section> -->

			<!-- Education Section -->
			<section class="section" id="education">
				<div class="container">
					<div class="heading text-center">
						<h2>Education</h2>
						<h3>The best source of knowledge is always experience. Nevertheless, here is a brief history about my formal education. </h3>
					</div>
					<hr>
					<ul class="items">
					
						<li class="item col-md-4 text-center">
							<h4 class="col1 year">Bachelor of Engineering</h4>
							<h5 class="col2 description">2011</h5>
							<img src="./index_files/degree.png">
							<p class="col3 percentage">BE in Computer Science from RGPV Bhopal</p>
						</li>
					
						<li class="item col-md-4 text-center">
							<h4 class="col1 year">Higher Secondary School</h4>
							<h5 class="col2 description">2007</h5>
							<img src="./index_files/degree.png">
							<p class="col3 percentage">12th from Kendriya Vidyalaya Jabalpur</p>
						</li>
					
						<li class="item col-md-4 text-center">
							<h4 class="col1 year">High School</h4>
							<h5 class="col2 description">2005</h5>
							<img src="./index_files/degree.png">
							<p class="col3 percentage">10th from Army School Mathura Cantt</p>
						</li>
					
					</ul>
				</div>
			</section>
			
			<!-- Future Section -->
			<!-- <div class="section" id="future"></div> -->

			<!-- Achievements Section -->
			<!-- <section class="section" id="achievements"></section> -->

			<!-- Projects Section -->
			<section class="section" id="projects">
				<div class="container">
					<div class="heading text-center">
						<h2>Portfolio</h2>
						<h3>I have worked on a variety of projects with different domains. With each new project you get a new set of challenging problems.</h3>
					</div>

					<ul class="grid">
						
							<li class="col-md-3 col-sm-6 col-xs-12">
								<div class="card" data-index="0">
									<div class="image">
										<img src="./index_files/warehouse.jpg">
									</div>
									<div class="caption">
										<h4>Supply Chain Product</h4>
										<h6>Complete supply chain management from order to shipment</h6>
									</div>
								</div>
							</li>
						
							<li class="col-md-3 col-sm-6 col-xs-12">
								<div class="card" data-index="1">
									<div class="image">
										<img src="./index_files/portfolio.png">
									</div>
									<div class="caption">
										<h4>Online portfolio</h4>
										<h6>A small project to keep my online presence</h6>
									</div>
								</div>
							</li>
						
							<li class="col-md-3 col-sm-6 col-xs-12">
								<div class="card" data-index="2">
									<div class="image">
										<img src="./index_files/shopping.jpg">
									</div>
									<div class="caption">
										<h4>Ecommerce Web Portal</h4>
										<h6>A Liferay based configurable ecommerce platform</h6>
									</div>
								</div>
							</li>
						
							<li class="col-md-3 col-sm-6 col-xs-12">
								<div class="card" data-index="3">
									<div class="image">
										<img src="./index_files/banking.jpg">
									</div>
									<div class="caption">
										<h4>Customer Data Management Application</h4>
										<h6>Banking</h6>
									</div>
								</div>
							</li>
						
					</ul>
				</div>
			</section>

			<!-- Contact Section -->
			<section class="section" id="contact">
				<div class="container">
					<div class="heading text-center">
						<h2>Contact</h2>
						<h3>In case you want to reach me...</h3>
					</div>
				</div>
				<div class="container">
				<div class="row">
					<div class="col-md-6">Map</div>
					<div class="col-md-6">
						<h4>My contact channels</h4>
						<h5>Preferred channel would be email</h5>
						<ul>
							
								<li>
									<h4>abcd@gmail.com</h4>
								</li>
							
								<li>
									<h4>9812121212</h4>
								</li>
							
								<li>
									<h4>PB 301 India</h4>
								</li>
							
						</ul>
					</div>
				</div>
				</div>
				<div class="container">
					<form method="post" action="http://localhost:8080/onlineresume3/contact.php" id="contactform">
					  <input name="name" type="text" class="contact col-sm-6" placeholder="Name *">
					  <input name="email" type="email" class="contact noMarr col-sm-6" placeholder="E-mail address *">
					  <textarea name="comment" class="contact col-xs-12" placeholder="Message *"></textarea>
					  <input type="submit" id="submit" class="contact submit" value="Send message">
					</form>
				</div>
			</section>

			<!-- Footer Section -->
			<section class="section" id="footer">
				<div class="container text-center">
					<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
					<ul>
						<li><a href="http://localhost:8080/onlineresume3/generator.html#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="http://localhost:8080/onlineresume3/generator.html#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="http://localhost:8080/onlineresume3/generator.html#"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="http://localhost:8080/onlineresume3/generator.html#"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="http://localhost:8080/onlineresume3/generator.html#"><i class="fa fa-flickr"></i></a></li>
					</ul>
					<p>2016 <a target="_blank" href="http://amitupadhyay.in/" title="Amit Upadhyay | UI Developer">amitupadhyay.in</a>. All Rights Reserved.
					</p>
				</div>
			</section>
		</div>

		<!-- Slideshow Section -->
		<section id="slideshow"></section>


		<!-- Templates for the sections -->

			<!-- Summary Template -->
			<script id="summaryTemplate" type="text/template">
				<div class="container">
					<div class="heading text-center">
						<h2><%= title %></h2>
						<h3><%= data.text %></h3>
					</div>
					<div class="row text-center">
						<% _.each(data.slides, function(item){ %>
							<div class="slides col-sm-4">
								<div>
									<img src="<%= item.image %>" />
									<a href="<%= item.link %>"></a>
									<h4><%= item.title %></h4>
									<p><%= item.description %></p>
								</div>
							</div>
						<% }) %>
					</div>
				</div>
			</script>

			<!-- Banner Template -->
			<script id="infoTemplate" type="text/template">
				<div class="background">
					<div id="banner-container" class="container text-center">
						<div class="hidden-xs blank-div"></div>
						<a class="profile-image">
							<img src="<%= data.profileImage %>" />
						</a>
						<div class="profile-data">
							<div class="name header"><%= data.name %></div>
						</div>
					</div>
				</div>
			</script>

			<!-- Menu Template -->
			<script id="menuTemplate" type="text/template">
		  	<div class="navbar-wrapper sticky-menu">
		  		<div class="">
		  			<div class="navwrapper">
		  				<div class="navbar navbar-inverse">
		  					<div class="container">
		  						<div class="navbar-header">
  									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
  										<span class="sr-only">Toggle navigation</span>
  										<span class="icon-bar"></span>
  										<span class="icon-bar"></span>
  										<span class="icon-bar"></span>
  									</button>
  									<div class="navbar-brand">
  										<a href="#banner-container">
  									  	<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
  									  </a>
  									</div>
		  						</div>
		  						<div class="navArea">
		  							<div id="navbar" class="navbar-collapse collapse">
		  								<ul class="nav navbar-nav">
		  									<% _.each(this.model.attributes, function(item,key){ %>
			  									<% if (item.menu === true) {%>
				  									<li class="menuItem">
				  										<a href="#<%= key %>"><%= item.title %></a>
				  									</li>
			  									<% } %>
		  									<% }) %>
		  								</ul>
		  							</div>
		  						</div>
		  					</div>
		  				</div>
		  			</div>
		  		</div>
		  	</div>
			</script>

			<!-- Skills/Tools/Technologies Template -->
			<script id="skillsTemplate" type="text/template">
				<div class="container">
					<div class="heading text-center">
						<h2><%= title %></h2>
						<h3><%= description %></h3>
					</div>
					<hr />
					<div class="row">
						<div class="col-sm-6">
							<% _.each(data, function(item){ %>
								<div class="skill">
									<div class="skill-wrapper">
										<!-- <img class="image" src="<%= item.image %>"></img> -->
										<h4 class="skill-name"><%= item.name %></h4>
										<h5 class="experience"><%= item.experience %> months </h5>	
				
										<% if(item.proficiency){ %>
										<div class="progress">
										  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= item.proficiency %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= item.proficiency %>%"></div>
										</div>
										<% } %>
									</div>	

								</div>
							<% }); %>
						</div>
						<div class="col-sm-6 skills-image">
							<img src="./images/<%= image %>">
						</div>
					</div>
					<div class="clear-float"></div>
				</div>
			</script>
			
			<!-- Tools Template -->
			<script id="toolsTemplate" type="text/template">
				<div class="container">
					<div class="heading text-center">
						<h2><%= title %></h2>
						<h3><%= description %></h3>
					</div>
					<hr />
					<div class="row">
						<% _.each(data, function(item){ %>
							<div class="col-lg-2 col-xs-6 col-sm-3 text-center">
								<a href="<%= item.website %>">
									<div class="image toolset-image">
										<img src="./images/<%= item.image %>">
									</div>
									<h4><%= item.name %></h4>
								</a>
									<p><%= item.text %></p>
								
							</div>
						<% }) %>
					</div>
				</div>
			</script>
			<!-- Future Template -->
			<script id="futureTemplate" type="text/template">
				<div class="container">
					<div class="title-wrapper">
						<span class="glyphicon <%= typeof(icon) !== 'undefined' ? icon : 'glyphicon-pencil' %>" aria-hidden="false"></span>
						<span class="title"><%= title %></span>
					</div>
					<hr />
					<ul class="items">
					<% _.each(data, function(item){ %>
						<li class="item"><%= item %></li>
					<% }); %>
					</ul>
				</div>
			</script>

			<!-- Achievements Template -->
			<script id="achievementsTemplate" type="text/template">
				<div class="container">
					<div class="title-wrapper">
						<span class="glyphicon <%= typeof(icon) !== 'undefined' ? icon : 'glyphicon-pencil' %>" aria-hidden="false"></span>
						<span class="title"><%= title %></span>
					</div>
					<hr />
					<ul class="items">
					<% _.each(data, function(item){ %>
						<li class="item"><%= item %></li>
					<% }); %>
					</ul>
				</div>
			</script>

			<!-- Education Template -->
			<script id="educationTemplate" type="text/template">
				<div class="container">
					<div class="heading text-center">
						<h2><%= title %></h2>
						<h3><%= description %></h3>
					</div>
					<hr />
					<ul class="items">
					<% _.each(data, function(item){ %>
						<li class="item col-md-4 text-center">
							<h4 class="col1 year"><%= item.degree %></h4>
							<h5 class="col2 description"><%= item.year %></h5>
							<img src="./images/<%= item.image %>">
							<p class="col3 percentage"><%= item.description %></p>
						</li>
					<% }); %>
					</ul>
				</div>
			</script>

			<!-- Experience Template -->
			<script id="experienceTemplate" type="text/template">
				<div class="container">
					<div class="heading text-center">
						<h2><%= title %></h2>
						<h3><%= description %></h3>
					</div>
					<hr />
					<ul class="items">
					<% _.each(data, function(item){ %>
						<li class="item">
							<div class="col1 tenure"><%= getTenure(item.startDate, item.endDate)%></div>
							<div class="col2 designation"><%= item.designation %></div>
							<div class="col3 company-name"><%= item.companyName %></div>
						</li>
					<% }); %>
					</ul>
				</div>
			</script>

			<!-- Projects Template -->
			<script id="projectsTemplate" type="text/template">
				<div class="container">
					<div class="heading text-center">
						<h2><%= title %></h2>
						<h3><%= description %></h3>
					</div>

					<ul class="grid">
						<% _.each(data, function(item,key){ %>
							<li class="col-md-3 col-sm-6 col-xs-12">
								<div class="card" data-index="<%= key %>">
									<div class="image">
										<img src="./images/<%= item.image %>">
									</div>
									<div class="caption">
										<h4><%= item.projectName%></h4>
										<h6><%= item.description %></h6>
									</div>
								</div>
							</li>
						<% }); %>
					</ul>
				</div>
			</script>

			<!-- Contact Template -->
			<script id="contactTemplate" type="text/template">
				<div class="container">
					<div class="heading text-center">
						<h2><%= title %></h2>
						<h3><%= description %></h3>
					</div>
				</div>
				<div class="container">
				<div class="row">
					<div class="col-md-6">Map</div>
					<div class="col-md-6">
						<h4><%= subTitle %></h4>
						<h5><%= text %></h5>
						<ul>
							<% _.each(data, function(item,key){ %>
								<li>
									<h4><%= item %></h4>
								</li>
							<% }) %>
						</ul>
					</div>
				</div>
				</div>
				<div class="container">
					<form method="post" action="contact.php" id="contactform">
					  <input name="name" type="text" class="contact col-sm-6" placeholder="Name *">
					  <input name="email" type="email" class="contact noMarr col-sm-6" placeholder="E-mail address *">
					  <textarea name="comment" class="contact col-xs-12" placeholder="Message *"></textarea>
					  <input type="submit" id="submit" class="contact submit" value="Send message">
					</form>
				</div>
			</script>

			<!-- Slideshow Template -->
			<script id="slideshowTemplate" type="text/template">
				<div class="slideshow-container">
					<div class="button close">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</div>
					<div class="wrapper">
						<div class="col-sm-6 col-xs-12 image-container">
							<img src="./images/<%= image %>">
						</div>
						<div class="col-sm-6 col-xs-12">
							<h4><%= projectName %></h4>
							<p><%= responsibilities %></p>
						</div>
						<div class="clear-float"></div>
					</div>
				</div>	
			</script>

			<!-- Libraries Scripts  -->
			<script type="text/javascript" src="./index_files/underscore.js"></script>
			<script type="text/javascript" src="./index_files/jquery.js"></script>
			<script type="text/javascript" src="./index_files/backbone.js"></script>
			<script type="text/javascript" src="./index_files/bootstrap.min.js"></script>

			<!-- Finally load the project scripts after all other scripts are downloaded -->

			<!-- Complete data available as json object -->
			<script type="text/javascript" src="./index_files/resumeData.js"></script>

			<!-- Create backbone views and models -->
			<script type="text/javascript" src="./index_files/script.js"></script>

			<!-- Effects on document scroll -->
			<script type="text/javascript" src="./index_files/scrollmenu.js"></script>

			<!-- Messages for the browser's console -->
			<script type="text/javascript" src="./index_files/console.js"></script>

			<!-- Setup heights at initializing time for the background image -->
			<script type="text/javascript" src="./index_files/setupHeights.js"></script>

			<!-- Setup Smoothscroll on click of menu items and home button -->
			<script type="text/javascript" src="./index_files/smoothscroll.js"></script>

			<!-- Add slideshow functionality to projects -->
			<script type="text/javascript" src="./index_files/slideshowView.js"></script>
	</body>
</html>